*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

body{
  padding: 1rem;
  max-width: 100%;
  background: rgb(0, 0, 0);
}

.wrapper{
  width: 900px;
  max-width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
}

.header{
  margin-top: 0.7rem;
  text-align: center;
}

.button{
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button > span{
  font-size: 25px;
}

.onClick_btn, .button{
  background: black;
  padding: 5px 2px;
  border: none;
  color: #fff;
  transition: ease 300ms;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.onClick_btn:hover, .button:hover, .pagination__item:hover{
  transform: translateY(-5px);
}

.onClick_btn{
   width: 5rem;
}

/*--------------------------------------- cards ----------------------------------------- */
.cards{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: center;
  max-width: 100%;
  margin: 1.5rem;
}

.card{
  width: 180px;
  max-width: 100%;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:flex;
  align-content: center;
  transition: all 300ms ease;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  cursor: pointer;
}

.card:hover{
   box-shadow: none;
} 

.picture{
  display: flex;
  flex-direction: column;
  justify-content:flex;
  align-content: center;
  margin-bottom: 1rem;
  max-width: 100%;
}

.link{
  margin-top: 0.5rem;
  color: rgb(124, 111, 111);
  transition: all 300ms ease;
}

.link:hover{
  color: #9ba4c9;
}

/* ---------------------------------- stand alone card page ------------------------------------- */
.userCard{
  margin: 3rem auto;
  width: 370px;
  max-width: 100%;
  border-radius: 14px;
  transition: all 300ms ease;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  cursor: pointer;
}

.userCard:hover{
  box-shadow: none;
}

.userCard_pic{
  display: flex;
  flex-direction: column;
  justify-content:flex;
  align-content: center;
  max-width: 100%;
}

.userCard_info, .info{
  display: flex;
  padding: 14px;
  flex-direction: column;
  text-align: center;
}

.email, .location{
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  padding: 4px;

}

.email > span, .location > span{
  font-size: 15px;
  font-weight: bold;
}

.date{
  color: rgb(124, 111, 111);
}

.image{
  border-radius: 14px;
}

.btns{
  width: 820px;
  max-width: 100%; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------- pagination ---------------------------------------- */

.pagination {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.pagination__item{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
  max-width: 100%;
  padding: 13px;
  cursor: pointer;
  background: black;
  color: #d1d5db;
  border-radius:5px;
  margin: 2px;
  border: none;
  transition: ease 300ms;
}

.pagination__item:not(:last-child) {
  border-right: 1px solid #d1d5db;
}

.pagination__item--active {
  background-color: #d1d5db;
}
.error_text{
  color: #fff;
}

.error{
  display: flex;
  align-items: center;
  width: 600px;
  margin: 3rem auto;
}

.error > h1 {
  display: flex;
  width: 300px;
  justify-content: center;
  font-size: 100px;
}

.text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* ---------------------------------- media query ------------------------------------------ */

@media (max-width: 767px)  {
  .cards{
    display: flex;
    gap: 2rem;
    flex-direction: column;
 }
 
 .card{
     border: 2px solid black;
     margin: 1rem auto;
 }

}

@media (min-width: 768px) and (max-width: 1023px){
  .cards{
     display: grid;
     margin: 0 auto;
     grid-template-columns: 270px 250px;
     justify-content: center;
     align-items: center;
 } 

}